ul {
    list-style: none;
    margin: 0px;
    padding: 60px 0px;
    text-align: center;
}

li {
    color: white;
    height: 80px;
    line-height: 80px;
}

.li1 {
    background-color: #ffc562;
}

.li2 {
    background-color: #a0c3f7;
}

.li3 {
    background-color: #ff8db3;
}

.li4 {
    background-color: #88e7ce;
}

.flex-list {
    display: flex;
}

.flex-list li {
    flex: auto;
}


/* Tata letak untuk Tablet */

@media (max-width: 1000px) {
    .flex-list {
        flex-wrap: wrap;
    }
    .flex-list li {
        width: 50%;
    }
}


/* Tata letak untuk Smartphone */


/* Tetapkan lebar breakpoint ke 670px dan di bawahnya ke media query */

@media (max-width: 670px) {
    /* Tetapkan flex-direction milik .flex-list */
    .flex-list {
        flex-direction: column;
    }
    .flex-list li {
        margin: 0 auto;
    }
    /* Tetapkan margin dari .flex-list li ke 0 auto */
}